@import url('https://fonts.googleapis.com/css2?family=Magra:wght@400;700&display=swap');
*{font-family: 'Magra';}

html, body {
   margin: 0;
  padding: 0;
  height: 100%;
}

.inicio-container {
  position: relative;
  min-height: 80dvh; 
  overflow: hidden;
  margin: 0 auto;
}

.inicio-wrapper {
  
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1400px;
  justify-content: space-between;
}

.inicio-folhas {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  display: flex;
  object-fit: cover;
  align-items: center;
  justify-content: center;
}

#folhas {
  width: 100%;
  height: 100%;
  object-fit: cover; /* cobre toda a área mantendo proporção */
}

.inicio-main{
  display: flex;
  align-items: center;
  margin-top: 90px;
}


.inicial-header{
  position: absolute;
  top: 0;
  z-index: 1;
}

.inicio-card-wrapper{
display: grid;
}
.inicio-card-borda{
  background-color: #257D6B;
  max-width: min(600px, 90%);
  min-width: 400px;
  border-radius: 40px;
  text-align: center;
  display: flex;
  padding: 20px;
}

.inicio-card {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2em;
  border-radius: 50px;
  font-size: 2rem;
  max-width: 100%;
  padding: 12%;
}



.inicio-card p {
  color: #3f9a6c;
}

.inicio-button{
  background-color: #FEA025;
  padding: 1em 4em;
  border: none;
  box-shadow: 0px 6px 0px 0px #c27510;
  border-radius: 2em;
  font-size: 1.5rem;
  color: white;
  transition: box-shadow 0s;
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: #db820d;
    cursor: pointer;
  }
  &:active {
    transform: translate(0, 6px);
    box-shadow: none;
  }
} 

.inicio-arvore{
  position: relative;
}

#gif-folhas {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: auto;
  bottom: 0;
  right: 0;
  transform: translateY(-20%);
  max-width: 80%;
}

#inicio-arvore {
  max-width: 100%;
  max-height: 100%;
}

@media (max-width: 1000px) {
  .inicio-card{
    font-size: 1.5rem;
  }

  .inicio-button{
    font-size: 1.2rem;
    padding: 1em 2.2em;
  }
}

@media (max-width: 800px) {
 .inicio-main{
  flex-direction: column;
  justify-content: center;
  gap: 2em;
 }
}

@media (max-width: 420px) {
  .inicio-card{
    padding: 1em;
  }
  .inicio-card-borda{
    padding: 6%;
    min-width: 200px;
  }
  
}
