.container {
  background-image: url('../pictures/utilidades/Vector.svg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  color: white;
  overflow-y: hidden;
}

.navbar{
    background-color: white;
    display: flex;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 50px;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    gap: 10%;
    padding-left: 5%;
}

.ajuda, .loja, .missoes{
    display: flex;
    font-size: 12px;
    gap: 5px;
}

.ajuda img, .loja img, .missoes img{
    width: 40px;
}

.moedas {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.moedas img {
  width: 20px;
  margin: 10px;
}

.perfil img {
  width: 35px;
  margin-left: 10px;
}

.perfil {
  display: flex;
  align-items: center;
  margin-right: 5%; 
}

#logotipo{
    width: 80px;
}

.navbar p{
    color: black;
}

.opcoes-navbar{
    display: flex;
    align-items: center;
    padding-left: 10%;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.tarefas-container {
  background-color: #ffa726;
  color: white;
  border-radius: 20px;
  padding: 20px;
  width: 250px;
  font-family: sans-serif;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  margin-left: 5%;
}

.tarefas-container h2 {
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
}


.task-list {
  list-style: none;
  padding: 0;
}

.task-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 12px;
  font-size: 16px;
}

.check-circle {
  width: 20px;
  height: 20px;
  border: 2px solid #ffa726;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s;
}

.check-circle.checked {
  background-color: #ffffff;
}

.check-circle.checked::after {
  content: "✔";
  color: #0f0f0f;
  font-size: 12px;
  position: absolute;
  top: 1px;
  left: 3px;
}

.task-list {
  list-style: none;
  padding: 0;
}

.item-tarefa{
    background-color: white;
    margin-top: 3%;
    border-radius: 20px;
    color: #000;
    display: flex;
    align-items: center;
}

.task-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 12px;
  background-color: white;
  color: #000;
  border-radius: 20px;
  font-size: 16px;
}

.check-circle {
  width: 20px;
  height: 20px;
  border: 2px solid #ffa726;
  margin: 5px;
  margin-left: 10px;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  position: relative;
  background-color: white; /* Sempre branca */
  transition: all 0.2s ease-in-out;
}

.check-circle.checked::after {
  content: "✔";
  color: #000;
  font-size: 12px;
  position: absolute;
  top: 0;
  left: 4px;
}

.task-text.checked {
  text-decoration: line-through;
  opacity: 0.7;
}

.icone-status {
  margin-right: 10px;
}

.texto-tarefa {
  flex-grow: 1;
  font-size: 14px;
}

.prioridade {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 10px;
}

.vermelha {
  background-color: red;
}

.laranja {
  background-color: orange;
}

.amarela {
  background-color: yellow;
}

.verde {
  background-color: green;
}

.botoes-tarefa {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 15px;
}

.btn-add,
.btn-trash {
  background-color: white;
  color: #ffa726;
  border: none;
  font-size: 20px;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  cursor: pointer;
  transition: background 0.2s;
}

.btn-add:hover,
.btn-trash:hover {
  background-color: #ffe0b2;
}

.tabs-container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  padding-left: 20px;
  margin-top: 120px;
  margin-bottom: 3%;
  margin-left: 5%;
}

.tab {
  background-color: transparent;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s;
}

.tab:hover {
  background-color: #ffa726;
}

.tab.active {
  background-color: #ffa726;
  color: white;
}

.conteudo-aba {
  display: none;
}

.conteudo-aba.ativo {
  display: block;
}

.arvore {
  position: absolute;
  right: 0px;
  bottom: 0;
  height: auto;
  max-height: 90%;
  z-index: 2;
  pointer-events: none;
}

.modal.hidden {
  display: none;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.modal-content {
  background-color: #fff;
  border-radius: 20px;
  padding: 20px 25px;
  width: 400px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: sans-serif;
}

.modal-content h3 {
  color: #2f9e44;
  text-align: center;
  margin-bottom: 10px;
}

.modal-content input[type="text"],
.modal-content textarea,
.modal-content input[type="date"] {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 8px;
  width: 100%;
}

.linha-modal {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
}
.linha-prioridade-data{
    display: flex;
    gap: 20px;
}

.prioridade {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 25%;
  height: auto;
}

.prioridade label {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
}

.cor {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.alta {
  background-color: #ff4d4d;
}

.media {
  background-color: #ffc107;
}

.baixa {
  background-color: #c0eb75;
}

.btn-salvar {
  background-color: #f5a623;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  transition: background 0.3s ease;
}

.btn-salvar:hover {
  background-color: #e69500;
}

.modal-content > *:not(:last-child) {
  margin-bottom: 10px;
}

.item-tarefa {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 12px;
  background-color: #fff;
  border-radius: 8px;
  margin-bottom: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.check-circle {
  margin-right: 12px;
  cursor: pointer;
}

.texto-container {
  flex: 1;
  text-align: left;
}

.prioridade-box {
  width: 16px;
  height: 8px;
  border-radius: 5px;
  margin-left: 12px;
  padding-left: 8px;
}

/* Cores das prioridades */
.prioridade-alta {
  background-color: red;
}

.prioridade-media {
  background-color: orange;
}

.prioridade-baixa {
  background-color: green;
}

 #conteudo-habitos.ativo{
  background: #288f5ce3;
  padding: 2rem;
  border-radius: 30px;
  width: 380px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
}

#conteudo-habitos.ativo h3 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
  text-align: center;
}

.habito {
  background: white;
  color: #333;
  padding: 0.7rem 1rem;
  margin-bottom: 0.6rem;
  border-radius: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  transition: all 0.3s ease;
}

#conteudo-habitos.ativo span{
  color: #288E5B;
}

#conteudo-habitos.ativo #botao {
  background-color: white;
  border-radius: 24px;
  padding: 10px;
  width: 60px;
  height: 50px;
  border: none;
  margin-top: 10px;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#conteudo-habitos.ativo #botao:hover {
  cursor: pointer;
  transform: scale(1.08);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

#conteudo-habitos.ativo .botoes{
  display: flex;
  gap: 20px;
  justify-content: center;
}

.modal-habito {
  border-radius: 24px;
  position: absolute;
  height: 30%;
  width: 310px;
  background: white;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  z-index: 10;
  padding: 2rem;
  border-left: 1px solid #ddd;
  left: 500px;
  top: 200px;
  justify-content: center;
}

.modal-habito h4, .modal-habito-conteudo h2{
  font-size: 24px;
  text-align: center;
  color: #288E5B;
  margin-bottom: 20px;
}

#input-novo-habito{
  border-radius: 10px;
  padding: 10px;
  border: 2px solid #288E5B;
}

#input-novo-habito:focus {
  border-color: #ffce63; /* cor da borda ao focar */
  box-shadow: 0 0 4px rgba(108, 99, 255, 0.3); /* glow suave */
  background-color: #fff; /* fundo branco ao focar */
  outline: none;
}

.modal-habito-conteudo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.modal-habito-botao{
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: #288E5B;
  color: white;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.modal-habito-botao:hover{
  transform: scale(1.08);
  background-color: white;
  color: #288E5B;
  border: 2px solid #288E5B;
}

#habitosParaRemover{
  width: 100%;
  padding: 10px 12px;
  border: 2px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  font-size: 16px;
  color: #333;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
}

#habitosParaRemover:focus {
  border-color: #FFBA4C;
  box-shadow: 0 0 5px rgba(255, 193, 99, 0.4);
  background-color: #fff;
}

.botao-habito-check {
  border: none;
  background-color: transparent;
  font-size: 26px;
  cursor: pointer;
  color: #2e8b57;
  transition: color 0.3s ease;
}

.botao-habito-check.feito {
  color: rgb(255, 163, 57);
}



.habito-item {
  color: #257d6b;
  background: #fff;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease;
}

.habito-item:hover{
  transform: scale(1.08);
}

.habito-item.feito {
  color: rgb(198, 252, 198);
  background-color: #ffffff;
  border-bottom: 5px solid #79c69d;
}

.habito-item button {
  margin-left: 10px;
  cursor: pointer;
}

.habitos-botoes {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.habitos-botoes button {
  background: white;
  border: none;
  color: #2e8b57;
  font-size: 1.5rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.habitos-botoes button:hover {
  transform: scale(1.1);
}

.opcao-habito{
  margin-bottom: 25px;
  font-size: 20px;
  color: #333333b0;
}

.opcao-habito span {
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.5s ease;
}

.opcao-habito span.ativo {
  background-color: #288E5B; 
  color: #ffffff; /* Opcional: cor do texto quando ativo */
}




